<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / BitTitan
        </div>
    </div>

    <div class="row banner bittitan">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/bittitan/bittitan-logo.png" alt="BitTitan" />
            <h1>How BitTitan found a right spell for MigrationWiz</h1>
            <h2>Bulk uploads were never easier</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="//bittitan.com/" target="_blank">BitTitan</a> is all about IT service providers.
                Whether you consider yourself a value-added reseller, system integrator or managed services provider,
                their mission is to empower you to be more successful. They started with MigrationWiz, a tool to make
                cloud data migration easier, which they've transformed into MSPComplete, a platform that helps automate
                every aspect of your business: sales, service delivery, and ongoing customer management... but they
                claim to have proudly retained the basement-startup mentality of "getting things done and having
                fun while doing it!" With offices in Seattle and Singapore (and more coming soon), and hundreds of
                employees around the world, BitTitan delivers on their commitment to support the work/life balance
                of their employees and the 100,000+ IT professionals they serve.
            </p>

            <img src="<%= img_path %>template/ModCustomers/bittitan/bittitan-illustration-1.png" alt="MSPComplete"
                class="illustration" />
            <p class="photo-credit">Photo credit: BitTitan</p>

            <h3>The Challenge</h3>
            <p>
                It all started when Dominic Pouzin, CTO of BitTitan was struggling on an easy solution to upload a list
                of mailboxes to their cloud-based migration tool – MigrationWiz. The operation required bulk uploading
                which could scale to tens of thousands of records. Additionally, it was supposed to provide interactive
                data editing and correction. He wasn't satisfied with bulk updates via CSV files which didn't allow to
                manipulate data in an interactive way.
            </p>

            <h3>The Solution</h3>
            <p>
                The BitTitan team started to search for a tool that would solve their main issues. They looked into
                different solutions, to finally settle with Handsontable.
                "We looked into different solutions, but Handsontable's flexibility, super-fast responses,
                and reliable cross-browser support won us over".
                The component met their expectations and soon helped them to upload millions of records in their
                other app - MSPComplete.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    We looked into different solutions, but Handsontable's flexibility, super-fast responses,
                    and reliable cross-browser support won us over.
                </h4>
            </blockquote>

            <img src="<%= img_path %>template/ModCustomers/bittitan/bittitan-illustration-2.png" alt="MSPComplete"
                 class="illustration" />
            <p class="photo-credit">Photo credit: BitTitan</p>

            <h3>Results and Plans for Future</h3>
            <p>
                Thanks to choosing Handsontable, they could focus on their core IP: data migration and services for
                MSPComplete. It made it easy for users to upload up to 100k records in record-breaking time, with
                easy error highlighting and data correction. What seems funny is that the users, when presented with the
                Handsontable interface, at first couldn't
                understand that they could interact with it the same way as they would with a desktop-based application.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    "It's not often that you see web widgets allowing fast, Excel-like interactivity. But that is indeed
                    what you get with Handsontable"
                </h4>
            </blockquote>

            <p>
            <iframe width="757" height="394" src="https://www.youtube.com/embed/sO7BHVWAwA8?rel=0" frameborder="0"
                    allowfullscreen></iframe>
            </p>

            <a href="<%= static_path %>/resources/ModCustomers/bittitan/BitTitan-Customer-Story.pdf" class="download">
                Download as PDF</a>

            <div class="row company-details">

                <p class="name">Dominic Pouzin</p>
                <p class="position">CTO at <a href="//bittitan.com/" target="_blank">BitTitan</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        BitTitan, Inc</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Seattle, United States
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        200+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="//bittitan.com/" target="_blank">bittitan.com</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>