<!DOCTYPE html>
<html>
<title><%= title %></title>
<head>
    <%- partial("../_partials/_head") %>
</head>
<body>
    <%- partial("../_partials/_svg_sprite") %>
    <header class="row">
        <a href="/index.html" class="logotype">
            Handsontable
        </a>
        <label for="show_menu"></label>
        <input id="show_menu" type="checkbox" />
        <nav>
            <ul class="clearfix">
                <li class="dropdown bottom">
                    <label for="show_dropdown">Nice to see you, <strong>Krzysztof</strong></label>
                    <input id="show_dropdown" type="checkbox" />
                    <ul>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <section class="user">
        <div class="row">
            <div class="large-11 large-centered columns">
                <div class="notification info" aria-hiden="true">Use your promo coupon in the next purchase! Just type in HOT2015 and get -10% discount.</div>
                <h2 class="headline">
                    <%= headline_part_1 %> <strong><%= headline_part_2 %></strong><br><small><%= subheadline %></small>
                </h2>
                <%- partial("../_partials/_user_menu") %>
                <%- yield %>
            </div>
        </div>
    </section>
    <%- partial("../_partials/_footer") %>
</body>
</html>