<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / Infogram
        </div>
    </div>

    <div class="row banner infogram">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/infogram/infogram-logo.svg" alt="Infogram" width="120" />
            <h1>How Infogram combines simple solutions with stunning results</h1>
            <h2>Data visualization easy as ABC</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="//infogr.am/" target="_blank">Infogram</a> is a data visualization company that helps people
                around the world use charts, maps, and infographics to communicate with data in a clear and engaging
                way. Launched in 2012, Infogram rapidly became one of the web's favorite data visualization tool due
                to its simplicity, functionality and beautiful output. Infogram supports marketing departments,
                universities and large media groups who create data visualizations through live data sources, API
                or Infogram’s manual editor based on Handsontable.
            </p>

            <img src="<%= img_path %>template/ModCustomers/infogram/infogram-illustration-1.png" alt="Infogram app"
                class="illustration" />
            <p class="photo-credit">Photo credit: Infogram</p>

            <h3>The Challenge</h3>
            <p>
                The goal that Infogram's creators wanted to achieve was to give their users the simplest,
                most intuitive way of editing and manipulating data behind the charts they create, without any
                unnecessary complexity.
            </p>

            <h3>The Solution</h3>
            <p>
                Their search led them to Handsontable and it turned out to be the perfect solution – a ready
                to use component with a user-friendly interface that was well known among teachers.
                It's provided more functionality in less time than it would take to build their own custom table.
            </p>

            <img src="<%= img_path %>template/ModCustomers/infogram/infogram-illustration-2.png" alt="Infogram app"
                 class="illustration" />
            <p class="photo-credit">Photo credit: Infogram</p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    We've been easily able to build proprietary behavior on top of Handsontable, which in turn has
                    allowed us to improve onboarding and user experience in multiple ways.
                </h4>
            </blockquote>

            <h3>Results and Plans for Future</h3>
            <p>
                What's more, Handsontable is, as Infogram's CEO Mikko Järvenpää admits, the grid the data editor is
                built on.
                In the future they plan to develop even more data connections for integrating with customer data
                sources, and come up with more intuitive, customer-centric ways for using and presenting data.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    There's no need to reinvent the wheel, especially when someone provides an extremely
                    well-engineered wheel for you to use.
                </h4>
            </blockquote>

            <p>
                <iframe width="757" height="394" src="//www.youtube.com/embed/JCiXFxBQggM?rel=0" frameborder="0"
                        allowfullscreen></iframe>
            </p>

            <!--<a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a>-->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/infogram/infogram-avatar.png" alt="Mikko Järvenpää" />
                <p class="name">Mikko Järvenpää</p>
                <p class="position">CEO at <a href="//infogr.am/" target="_blank">Infogram</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Infogram Software, Inc</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        San Francisco, United States
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        30+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="//infogr.am/" target="_blank">infogr.am</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>