<section class="customers">
    <div class="row">
        <div class="large-12 large-centered columns">
            <h2 class="headline">
                Successful <strong>customers</strong><br>
                <small>We love to work with inspiring people</small>
            </h2>
        </div>
    </div>
    <div class="row head-testimony">
        <div class="medium-12 large-11 large-centered columns">
            <div class="medium-5 large-4 columns">
                <img src="<%= img_path %>template/ModCustomers/infogram/infogram-mikko-jarvenpaa.png" alt="Mikko Järvenpää" />
            </div>
            <div class="medium-6 large-7 columns">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    There's no need to reinvent the wheel, especially when someone
                    provides an extremely well-engineered wheel for you to use.
                </h4>
                <p>Mikko Järvenpää, CEO at <a href="//infogr.am">Infogram</a></p>
                <a href="/customers/infogram/" class="btn large blue">READ STORY</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/akindi" class="customer-excerpt akindi">
                <img src="<%= img_path %>template/ModCustomers/akindi/akindi-logo.png" alt="Akindi" />
                <h3>Why teachers gave an A+ to Akindi</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/bittitan" class="customer-excerpt bittitan">
                <img src="<%= img_path %>template/ModCustomers/bittitan/bittitan-logo.png" alt="BitTitan" />
                <h3>How BitTitan found a right spell for MigrationWiz</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/datawrapper" class="customer-excerpt datawrapper">
                <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-logo.png" alt="Datawrapper" />
                <h3>How Datawrapper helps journalists to be first with their stories</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/socialpoint" class="customer-excerpt socialpoint">
                <img src="<%= img_path %>template/ModCustomers/socialpoint/socialpoint-logo.png" alt="Social Point"
                     width="120" />
                <h3>Why Social Point hit the jackpot when choosing their spreadsheet</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/nuxeo" class="customer-excerpt nuxeo">
                <img src="<%= img_path %>template/ModCustomers/nuxeo/nuxeo-logo.png" alt="Nuxeo" />
                <h3>How Nuxeo helps customers to implement their own business logic</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/trackingfirst" class="customer-excerpt trackingfirst">
                <img src="<%= img_path %>template/ModCustomers/trackingfirst/trackingfirst-logo.png" alt="Tracking First" />
                <h3>How Tracking First enhances marketing campaigns</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/infogram" class="customer-excerpt infogram">
                <img src="<%= img_path %>template/ModCustomers/infogram/infogram-logo.svg" alt="Infogram" width="120" />
                <h3>How Infogram combines simple solutions with stunning results</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/omnidb" class="customer-excerpt omnidb">
                <img src="<%= img_path %>template/ModCustomers/omnidb/omnidb-logo.png" alt="OmniDB" width="120" />
                <h3>How OmniDB overcame the complexity of database management</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="/customers/visible" class="customer-excerpt visible">
                <img src="<%= img_path %>template/ModCustomers/visible/visible-logo.png" alt="Visible" width="120" />
                <h3>Visible's vision for an all-in-one stakeholder management platform</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element">
            <a href="#" class="customer-excerpt coming-soon">
                <h3>Coming soon</h3>
            </a>
        </div>
        <div class="medium-6 large-4 columns post-element"></div>
        <div class="medium-6 large-4 columns post-element"></div>

    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="element-center explore-features">
                <h1>
                    Work faster <strong>with data</strong><br>
                    <small>Use spreadsheet technology to extend your apps beyond the limits</small>
                </h1>
                <a href="/features.html" class="btn large vivid-green">EXPLORE FEATURES</a>
            </div>
        </div>
    </div>

</section>