<!DOCTYPE html>
<html>
<head>
    <%- partial("_partials/_tagmanager_head") %>
    <%- partial("_partials/_head") %>
    <%- partial("_partials/_svg_sprite_ajax") %>
</head>
<body>
    <%- partial("_partials/_tagmanager_body") %>
    <%- partial("_partials/_header") %>
    <%- yield %>
    <%- partial("_partials/_footer") %>
    <%- partial("_partials/_scripts") %>
</body>

<!-- LABS LOADER
            <div class="loading">
                <span class="loader"><span class="loader-inner"></span></span>
            </div>
          -->


<!-- LABS CONFIRMATION MODAL
    <div class="confirmation">
        <div class="uploaded">
            <a href="#close">
                <svg class="cancel">
                    <use xlink:href="#cancel"></use>
                </svg>
            </a>
            <svg class="svg">
                <use xlink:href="#check"></use>
            </svg>

            <h3>my_file.xlsx</h3>
            <p>Uploaded sucessfully</p>
            <p class="buttons">
                <a href="" class="btn large blue">Generate</a>
                <a href="" class="btn large red">Delete</a>
            </p>
        </div>
    </div>
-->

<!-- CONFIRMATION MODAL
    <div class="confirmation">
        <div class=" uploaded-error">
            <a href="#close">
                <svg class="cancel">
                    <use xlink:href="#cancel"></use>
                </svg>
            </a>
            <svg class="svg">
                <use xlink:href="#exclamation"></use>
            </svg>
            <p class="error"><b>Ups!</b> Somethning went wrong!</p>
            <p class="buttons">
                <a href="" class="btn large white-red">Upload again</a>
                <a href="" class="btn large ghost-white-red">Close</a>
            </p>
        </div>
    </div>
-->

<!-- CODE BOX MODAL

    <div class="code-modal">
        <div class="code">
            <a href="#close">
                <svg class="cancel">
                    <use xlink:href="#cancel"></use>
                </svg>
            </a>
            <h3>my_file.xlsx
            </h3>
            <p>
                <small>Go ahead and copy data for your table.</small>
            </p>

            <div class="code-box">
                <ul class="tabs clearfix" data-tab role="tablist">
                    <li class="left"><a>Code</a></li>
                    <li class="action-link right">
                        <a href="#">
                            <svg class="left">
                                <use xlink:href="#edit_icon"></use>
                            </svg>
                            Edit
                        </a>
                    </li>
                </ul>
                <div class="tabs-content">
                    <section class="content"></section>
                </div>
            </div>
            <p class="buttons">
                <a href="" class="btn large blue">Copy</a>
            </p>
        </div>
    </div>
-->
</html>