<!DOCTYPE html>
<html>
<head>

    <%- partial("_partials/_head") %>
</head>
<body>
    <%- partial("_partials/_svg_sprite") %>
    <%- partial("_partials/_header") %>
    <%- yield %>
    <%- partial("_partials/_footer") %>
</body>
</html>