<section class="team">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                Meet our <strong>team</strong><br>
                <small>We are geeks who love playing with new technologies and sharing experience</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div class="large-11 large-centered columns">
                    <div class="row">
                    <div class="large-9 large-centered columns our-mission">
                        <p>When we started in 2012 we didn't know that this project will become so popular. But the popularity eventually came and the complexity alongside with it. There were simply too many requirements to meet without sacrificing the performance. As a result, in 2014 we reconsidered the structure of Handsontable and decided to make it modular. This allowed us to introduce new commercial features built on top of the free and open core. This, however, turned out to be an enormous task so we still treat it as a work in progress.</p>

                        <p>Ultimately, we aim to create a 60FPS composite framework which works without limitation in performance regardless the size of a data set or functionality. We believe we are able to fulfill those requirements thanks to years of experience in the variety of industries we originate from. If you'd like to participate in our journey as a developer, let's talk.</p>
                    </div>

                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/krzysztof_spilka.png" alt="">
                            <div class="desc">
                                <h4>
                                    Krzysztof Spilka<br>
                                    <small>CEO, co-founder</small>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/marcin_warpechowski.png" alt="">
                            <div class="desc">
                                <h4>
                                    Marcin Warpechowski<br>
                                    <small>Co-founder</small>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/jan_siegel.png" alt="">
                            <div class="desc">
                                <h4>
                                    Jan Siegel<br>
                                    <small>JS senior developer</small>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/jakub_klekota.png" alt="">
                            <div class="desc">
                                <h4>
                                    Jakub Klekota<br>
                                    <small>C#/JS senior developer</small>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/krzysztof_budnik.png" alt="">
                            <div class="desc">
                                <h4>
                                    Krzysztof Budnik<br>
                                    <small>JS senior developer</small>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/ola_budnik.png" alt="">
                            <div class="desc">
                                <h4>
                                    Aleksandra Budnik<br>
                                    <small>Support manager</small>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="large-11 large-centered columns">
            <!-- TESTIMONY -->
            <div class="row testimony">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="medium-1 columns element-center">
                            <img src="<%= img_path %>testimony/jack_parmer.jpg" alt="Jack Parmer" />
                        </div>
                        <div class="medium-10 columns">
                            <blockquote>
                                „Handsontable and the team behind it are the clear champions on this web frontier”
                            </blockquote>
                            <h5><strong>Jack Parmer</strong> - CEO at <a href="https://plot.ly/" target="_blank">Plotly</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>