<section class="team">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">
                Meet our <strong>team</strong><br>
                <small>We are geeks who love playing with new technologies and sharing experience</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 large-centered columns">
            <div class="row">
                <div class="large-11 large-centered columns">
                    <div class="row">
                    <div class="large-9 large-centered columns our-mission">
                        <p>When we started in 2012 we had no idea that this spreadsheet project would become so popular.
                            Since it happened, complexity followed popularity. There was simply too much code to maintain
                            and too many requirements to meet. In 2014 we revised the structure of Handsontable with the
                            team and decided to make it modular. This allowed us to introduce new commercial features built
                            on top of the free and open-sourced core. We still consider it as work in progress.
                        </p>
                        <p>Ultimately, we aim to create a 60FPS composite spreadsheet framework which works without
                            limitation in performance, regardless of the size of the data set. We believe we are able
                            to fulfill those requirements thanks to our experience and the invaluable support of the
                            community.
                        </p>
                    </div>

                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/krzysztof_spilka.png" alt="">
                            <div class="desc">
                                <h4>
                                    Krzysztof Spilka<br>
                                    <small>CEO, co-founder</small>
                                </h4>
                                <p>Graduated from statistics and econometrics. Experienced in e-commerce and
                                    financial industries. Fan of craft brewery.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/marcin_warpechowski.png" alt="">
                            <div class="desc">
                                <h4>
                                    Marcin Warpechowski<br>
                                    <small>Co-founder</small>
                                </h4>
                                <p>Creator of Handsontable, enthusiast of building zero glue code apps.
                                    Tech evangelist, conference speaker and mentor.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/jan_siegel.png" alt="">
                            <div class="desc">
                                <h4>
                                    Jan Siegel<br>
                                    <small>Front-end developer</small>
                                </h4>
                                <p>An engineer experienced in the aviation industry. Big fan of vanilla JS. He enjoys
                                    playing an electric guitar and watching scary movies.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/jakub_klekota.png" alt="">
                            <div class="desc">
                                <h4>
                                    Jakub Klekota<br>
                                    <small>C# developer</small>
                                </h4>
                                <p>He leaves no stone unturned when it comes to building scalable back-end apps.
                                    In his spare time he runs an online coffee store.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/krzysztof_budnik.png" alt="">
                            <div class="desc">
                                <h4>
                                    Krzysztof Budnik<br>
                                    <small>Front-end developer</small>
                                </h4>
                                <p>An author of most best practices and patterns at Handsoncode.
                                    Fan of AngularJS and Web Components. A geek, husband and gamer.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                        <div class="small-12 medium-4 columns team-member">
                            <img src="<%= img_path %>template/ModTeam/ola_budnik.png" alt="">
                            <div class="desc">
                                <h4>
                                    Aleksandra Budnik<br>
                                    <small>Support manager</small>
                                </h4>
                                <p>An expert in research and analytics. She used to run her own e-commerce business.
                                    Loves to travel around Europe with her husband.</p>
                            </div>
                            <div class="social-links">
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#twitter_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#github_icon"></use></svg>
                                </a>
                                <a href="#" target="_blank">
                                    <svg><use xlink:href="#facebook_icon"></use></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="large-11 large-centered columns">
            <!-- TESTIMONY -->
            <div class="row testimony">
                <div class="large-11 large-centered columns">
                    <div class="row">
                        <div class="medium-1 columns element-center">
                            <img src="<%= img_path %>testimony/jack_parmer.jpg" alt="Jack Parmer" />
                        </div>
                        <div class="medium-10 columns">
                            <blockquote>
                                „Handsontable and the team behind it are the clear champions on this web frontier”
                            </blockquote>
                            <h5><strong>Jack Parmer</strong> - CEO at <a href="https://plot.ly/" target="_blank">Plotly</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>