<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / Akindi
        </div>
    </div>

    <div class="row banner akindi">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/akindi/akindi-logo.png" alt="Akindi" />
            <h1>Why teachers gave an A+ to Akindi?</h1>
            <h2>The Ultimate Test</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="//akindi.com/" target="_blank">Akindi</a> makes paper-based multiple choice bubble sheet tests
                less terrible: teachers can customize our bubble sheets online, print them from any printer, scan their
                student's responses with any scanner or iPhone and see the results online. "We're consistently amazed
                by how much time and effort our teachers put into making sure that their students get a great education,
                and we hope that we can make their jobs just a little bit easier" says David Wolever, CTO of Akindi.
            </p>

            <img src="<%= img_path %>template/ModCustomers/akindi/akindi-illustration-1.png" alt="Akindi app"
                class="illustration" />
            <p class="photo-credit">Photo credit: Akindi</p>

            <h3>The Challenge</h3>
            <p>
                The Akindi team strives to make teachers' lives just a little bit easier so they can focus on
                teaching instead of grading. That's why they are working hard to make Akindi as user-friendly
                as it can be. The challenge was to present teachers with their test results in a familiar format.
                The only alternative was to build our own data table and that was not an option. They just
                couldn't afford to spend so much time, they needed a solution right away.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    Handsontable was a perfect fit because it looks and feels just like Excel,
                    a tool teachers are already familiar with.
                </h4>
            </blockquote>

            <h3>The Solution</h3>
            <p>
                Their search led them to Handsontable and it turned out to be the perfect solution – a ready
                to use component with a user-friendly interface that was well known among teachers.
                It's provided more functionality in less time than it would take to build their own custom table.
            </p>

            <img src="<%= img_path %>template/ModCustomers/akindi/akindi-illustration-2.png" alt="Akindi app"
                 class="illustration" />
            <p class="photo-credit">Photo credit: Akindi</p>

            <h3>Results and Plans for Future</h3>
            <p>
                The feedback that Akindi has received from their users was like getting A+ in a very important test.
                The familiarity of the interface was much appreciated by all teachers. Akindi had reached their
                goal – if the teachers are satisfied and it makes their work easier, what else could be a better
                success indicator?
                The team plans to help teachers save even more time, and get even more insight into students'
                performance.
            </p>

            <!--<a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a>-->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/akindi/akindi-avatar.png" alt="David Wolever" />
                <p class="name">David Wolever</p>
                <p class="position">CTO at <a href="//akindi.com/" target="_blank">Akindi</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Akindi Inc</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Ontario, Canada
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        5+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="//akindi.com/" target="_blank">akindi.com</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>