<div class="row brands">
    <h3 class="headline">
        <span>Used by customers ranging from small businesses to Fortune 500</span>
    </h3>
    <div class="large-12 large-centered columns">
        <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-5">
            <li><img src="<%= img_path %>brands/seagate.svg" alt="Seagate"/></li>
            <li><img src="<%= img_path %>brands/amazonaws.svg" alt="Amazon Web Services"/></li>
            <li><img src="<%= img_path %>brands/t-mobile.svg" alt="T-Mobile" /></li>
            <li><img src="<%= img_path %>brands/sony.svg" alt="Sony"/></li>
            <li><img src="<%= img_path %>brands/usengineering.png" alt="US Engineering"/></li>
        </ul>
    </div>
</div>