<div class="row brands">
    <div class="large-11 large-centered columns">
        <h3 class="headline centered">
            <span>Thousands of companies use it</span>
        </h3>
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6">
            <li>
                <a href="https://infogr.am/" target="_blank">
                    <img src="<%= img_path %>brands/infogr.png" alt="Infogr"/>
                </a>
            </li>
            <li>
                <a href="http://www.bittitan.com/" target="_blank">
                    <img src="<%= img_path %>brands/bittitan.png" alt="BitTitan"/>
                </a>
            </li>
            <li>
                <a href="http://www.profitbase.com/" target="_blank">
                    <img src="<%= img_path %>brands/profitbase.svg" alt="profitbase"/>
                </a>
            </li>
            <li>
                <a href="https://datawrapper.de/" target="_blank">
                    <img src="<%= img_path %>brands/datawrapper.png" alt="Datawrapper"/>
                </a>
            </li>
            <li>
                <a href="http://starcounter.com/" target="_blank">
                    <img src="<%= img_path %>brands/starcounter.png" alt="Starcounter"/>
                </a>
            </li>
            <li>
                <a href="https://www.onekingslane.com/" target="_blank">
                    <img src="<%= img_path %>brands/onekingslane.svg" alt="One kings lane"  width="120px" height="69px"/>
                </a>
            </li>
        </ul>
    </div>
</div>