<div class="row brands">
    <div class="large-11 large-centered columns">
        <h3 class="headline centered">
            <span>Thousands of companies use it</span>
        </h3>
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6">
            <li><img src="<%= img_path %>brands/infogr.png" alt="Infogr"/></li>
            <li><img src="<%= img_path %>brands/plotly.png" alt="Plotly"/></li>
            <li><img src="<%= img_path %>brands/circuithub.png" alt="CircuitHub"/></li>
            <li><img src="<%= img_path %>brands/onekingslane.png" alt="One kings lane"/></li>
            <li><img src="<%= img_path %>brands/bittitan.png" alt="BitTitan"/></li>
            <li><img src="<%= img_path %>brands/starcounter.png" alt="Starcounter"/></li>
        </ul>
    </div>
</div>