<script src="//cdn.optimizely.com/js/3053420618.js"></script>
<title><%= title %> | <%= brand %> </title>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="description" content="<%= description %>">

<% if (current.source === 'pricing-maintenance') {  %>
    <meta name="robots" content="noindex" />
<% } %>

<link rel="shortcut icon" href="<%= img_path %>template/ModCommon/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
<link href="/static/css/main.css" type="text/css" rel="stylesheet">

<% if (current.path[1] !== 'posts') { %>
    <script>
      (function() {var s=document.createElement('script');
        s.type='text/javascript';s.async=true;
        s.src=('https:'==document.location.protocol?'https':'http') +
        '://handsoncode.groovehq.com/widgets/61c040f2-413c-485c-bca2-d6608d347c65/ticket.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
    </script>
<% } %>

<% if (current.source === 'examples' || current.path[1] == 'posts') {  %>
    <link href="/static/bower_components/handsontable-pro/dist/handsontable.full.css" type="text/css" rel="stylesheet">
    <link href="/static/bower_components/highlightjs/styles/github.css" type="text/css" rel="stylesheet">

    <script src="/static/bower_components/handsontable-pro/dist/handsontable.full.js"></script>
    <script src="/static/bower_components/history.js/scripts/bundled/html4+html5/native.history.js"></script>
    <script src="/static/bower_components/highlightjs/highlight.pack.min.js"></script>
<% } else if (current.source === 'support' || current.source === 'contact') {  %>
    <script>
      (function() {var s=document.createElement('script');
        s.type='text/javascript';s.async=true;
        s.src=('https:'==document.location.protocol?'https':'http') +
            '://handsoncode.groovehq.com/widgets/61c040f2-413c-485c-bca2-d6608d347c65/ticket/api.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
    </script>
    <script src="/static/js/common/formHandler.js"></script>
    <script type="text/javascript">
      var formHandler = new FormHandler('<%= current.source %>');
    </script>
<% } %>