<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title><%- title %></title>
        <link><%- url %></link>
        <description><%- description %></description>
        <atom:link href="<%- url %>/blog/feed.xml" rel="self" type="application/rss+xml" />
        <% for(slug in public.blog.articles._data) { %>
        <% var post = public.blog.articles._data[slug] %>
        <item>
            <title><%- post.title %></title>
            <description><%- post.description %></description>
            <pubDate><%- Date(post.date) %></pubDate>
            <link><%- url %>/blog/articles/<%- post.directory %><%- slug %></link>
            <guid isPermaLink="true"><%- url %>/blog/articles/<%- slug %></guid>
        </item>
        <% } %>
    </channel>
</rss>