<%
    function catList(data) { 
        var cats = {};
        for(var key in data) {
            var category = data[key].category;
            if(!(category in cats)) {
                cats[category] = [];    
            }
            cats[category].push(data[key]);
            //copy the key itself as a slug
            cats[category][cats[category].length-1]["slug"] = key;
        }
        //you could alpha sort the cats
        return cats;
    } 
%>

<section class="blog">
    <div class="row">
        <div class="large-11 large-centered columns">
            <h2 class="headline">Blog</h2>
        </div>
    </div>
    <div class="row">
    <div class="large-10 large-centered columns">
            <div class="row">
             <% for(var slug in public.blog._data){ %>
             <div class="large-4 columns">
                <h2>
                    <a href="/blog/<%= public.blog._data[slug].categorySlug %>/<%= slug %>"><%= public.blog._data[slug].title %></a>
                </h2>
                <p>
                    <small>
                        <%= public.blog._data[slug].category %> / <%= public.blog._data[slug].date %>
                    </small>
                </p>
                <p><%= public.blog._data[slug].desc %></p>
                <a href="/blog/<%= slug %>">Read more</a>    
            </div>
            <% }; %>
        </div>
        <h2>Categories</h2>

        <ul>
            <% 
            catData = catList(public.blog._data);
            for(cat in catData) { 
                %>
                <li>
                    <b><%- cat %></b>
                    <ul>
                        <% for(entry in catData[cat]) { %>
                        <li><a href="/entries/<%- catData[cat][entry].slug %>"><%- catData[cat][entry].title %></a></li>
                        <% } %>

                    </ul>
                </li>

                <% } %>
            </ul>
    </div>
</section>