<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / OmniDB
        </div>
    </div>

    <div class="row banner omnidb">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/omnidb/omnidb-logo.png" alt="OmniDB" width="120" />
            <h1>WHow OmniDB overcame the complexity of database management</h1>
            <h2>Powerful and lightweight database management</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="http://www.omnidb.com.br/" target="_blank">OmniDB</a> is an open-source web tool for 
                the management and conversion of databases. It is multi-platform, runs on all major operating systems, 
                and supports all of the most popular database management systems (DBMS). The team responsible for OmniDB
                is small, two computer scientists and a graphic designer, but their first concern will always be to
                offer a high-quality platform that provides users - who range from developers through to database
                administrators - with a unified workspace, enabling them to work with many DBMS, and different 
                databases, all in the same way.

            </p>

            <img src="<%= img_path %>template/ModCustomers/omnidb/omnidb-illustration-1.png"
                 alt="OmniDB tool" class="illustration" />
            <p class="photo-credit">Photo credit: OmniDB</p>

            <h3>The Challenge</h3>
            <p>
                The goal of OmniDB is to offer a workspace that allows users to comfortably manage databases and data 
                in their browser.  While other similar web apps allow this through the use of static grids and simple 
                HTML components, the team behind OmniDB wanted users to be able to do this in a manner that simulated 
                working on a desktop environment. There are several grid components the team could have used to achieve 
                this, but they ultimately lacked key-features that the team required, in addition to performance. And 
                while the team has the skill necessary to develop their own component, it isn't what they wanted to 
                focus on while creating OmniDB.

            </p>

            <h3>The Solution</h3>
            <p>
                The OmniDB team had already used Handsontable in other projects, and were already familiar with 
                Handsontable's build quality, performance and feature set. And one of the most valuable features of 
                Handsontable for the OmniDB developers, was the ability to mimic key functions of MS Excel in a web 
                environment. Which meant that Handsontable was the perfect component for what the developers wanted to 
                achieve with OmniDB: creating a familiar, intuitive, and powerful workspace in which to manage multiple 
                databases. With the addition of Handsontable, users of OmniDB are able to:
            </p>

            <ul class="list">
                <li>Navigate through cells using the keyboard.
                <li>Copy and Paste data to and from the grid.
                <li>Select groups of cells.
                <li>Execute massive actions at the same time.
                <li>Render HTML content.
            </ul>

            <h3>Results and Plans for Future</h3>
            <p>
                Many users have testified that using OmniDB is far more comfortable and intuitive than similar tools 
                they have used before, with most specifically commenting on the grid component. The grid component is 
                also something that the OmniDB developers are asked about frequently, and when presenting at FISL 2016 
                (International Free Software Forum) in Porto Alegre, Brazil, the first question that followed the hour 
                long talk was: “What is the name of the grid component?” The developers of OmniDB will continue adding 
                support for more DBMS to OmniDB, while they have plans to also support additional database structures 
                such as triggers, views, sequences and grants. On the horizon is a substantial upgrade to the database 
                conversion feature of OmniDB, but given that all new features and updates will continue to offer a 
                user-friendly interface with which to manage data, the use of Handsontable as the grid component will 
                not change.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    If you are looking for a responsive, web based component that simulates what MS Excel does, there 
                    is no better component than Handsontable.
                </h4>
            </blockquote>

            <!--<a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a>-->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/omnidb/omnidb-avatar.png" alt="Rafael Thofehrn Castro" />
                <p class="name">Rafael Thofehrn Castro</p>
                <p class="position">CEO at <a href="http://omnidb.com.br/" target="_blank">OmniDB</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        OmniDB</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Curitiba, Brasil
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        3+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="http://omnidb.com.br/" target="_blank">omnidb.com.br</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>