<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / Visible
        </div>
    </div>

    <div class="row banner visible">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/visible/visible-logo.png" alt="OmniDB" width="120" />
            <h1>Visible's vision for an all-in-one stakeholder management platform</h1>
            <h2>Better business reports</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="https://visible.vc" target="_blank">Visible</a> is an application to empower
                companies to tell the story of their data to their stakeholders, making it possible for companies to 
                easily visualize and share their key performance indicators (KPI). The team behind Visible are guided 
                by the founding mandate "to simplify the sharing, management, and reporting of data between startups 
                and investors" even though Visible has since evolved to become a tool accessible to any professional, 
                or business, needing to share KPIs with stakeholders. These include accounting firms, agencies, SMBs, 
                and even sales, finance and marketing professionals, making Visible a comprehensive stakeholder 
                management platform.
            </p>

            <img src="<%= img_path %>template/ModCustomers/visible/visible-illustration-1.png"
                 alt="Visible app" class="illustration" />
            <p class="photo-credit">Photo credit: Visible</p>

            <h3>The Challenge</h3>
            <p>
                The founders of Visible were themselves founders and investors, struggling with the problem of tracking 
                investment performance, and managing communication between startups and investors. MS Excel and Google 
                Sheets are ubiquitous and familiar to most everyone, but they both don't simplify the ability to track 
                investments and KPIs and communicate with stakeholders. The founders of Visible wanted something that 
                was as familiar as MS Excel and Google Sheets, without necessarily having to recreate it themselves, 
                while at the same time it needed to integrate with other popular tools used by business to manage data 
                and KPIs. Finally, Visible had to make it easy for businesses to tell their story to the people that 
                matter.
            </p>

            <h3>The Solution</h3>
            <p>
                Handsontable was one of the first solutions the founders came across, and has been part of Visible 
                since the very beginning. It provided the founders of Visible with something that was easy to implement,
                and made the input of data effortless for users. The use of Handsontable in Visible means that users 
                have access to tools and functions they're already familiar with through MS Excel and Google Sheets, 
                reducing the amount of friction involved in learning to use a new application. The Visible team also 
                understood that businesses use a variety of tools to manage day-to-day operations, so it was crucial 
                for Visible to be able to support integration with a number of popular applications such as Google 
                Analytics, Google Sheets, Quickbooks, Zapier and Stripe.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    Handsontable is a great way to get a head start!
                </h4>
            </blockquote>

            <h3>Results and Plans for Future</h3>
            <p>
                Handsontable remains one of the most popular ways to populate data in Visible, with customers 
                interacting with Handsontable in Visible more than 5,000 times each month. Visible intends to continue 
                making it easier for customers to get data into Visible, which may include additional integrations, and 
                the ability to support formulas between different metrics. For the Visible team, the goal remains a 
                simpler way to connect your data, create beautiful updates and engage with your stakeholders.
            </p>

            <!--<a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a>-->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/visible/visible-avatar.png" alt="Mike Preuss " />
                <p class="name">Mike Preuss</p>
                <p class="position">CEO at <a href="https://visible.vc" target="_blank">Visible</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Visible</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Chicago, USA
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        7+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="https://visible.vc" target="_blank">visible.vc</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>