<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / Datawrapper
        </div>
    </div>

    <div class="row banner datawrapper">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-logo.png" alt="Datawrapper" />
            <h1>How Datawrapper helps journalists to be first with their stories</h1>
            <h2>Fast creation, quick publication of charts and maps</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="//datawrapper.de/" target="_blank">Datawrapper</a> is a tool that lets users create 
                high-quality charts and maps in minutes, not hours. 
                First launched in 2012, Datawrapper is now seen as an indispensable tool in newsrooms around the world
                 for three simple reasons:
            </p>
            <ul>
                <li>Less time needed to create a chart,</li>
                <li>Charts & maps are fully responsive, which is essential for digital publishing,</li>
                <li>Charts & maps can be important elements of a news story.</li>
            </ul>
            <p>
                A core value for the team behind Datawrapper has always been simplicity, extended into their primary
                goal of simplifying something that was complex. It is a goal that they have achieved; but maintaining
                simplicity is no easy task. Which is why Datawrapper uses Handsontable in key areas, enabling users to
                create high-quality charts much faster than with traditional workflows and tools. In little more than
                3-years the dedicated team at Datawrapper have turned their commitment for simplicity into a tool that
                has become vital in the news business where time is always a scarce resource.
            </p>

            <h3>The Challenge</h3>
            <p>
                Data in articles and reports is more powerful, and easier to understand, when represented by charts and
                maps; but creating them is often a time-consuming process that depends on someone with coding or design
                experience, and someone who understands the fundamental rules of charts. Even though this isn’t necessarily
                a problem in institutions such as statistical offices, it is for other intended users of Datawrapper such
                as journalists working under a deadline, or NGOs with limited resources. For these users, speed and ease
                of use are essential requirements, and Datawrapper supports this by guiding users through four simple
                steps: first upload the data, then select a chart before adjusting the design, and finally publish or
                embed the chart. Datawrapper ensures that the fundamental rules of charts are followed, even if the user
                isn’t aware of the more subtle requirements of chart design. </p>

                <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-illustration-1.png"
                     alt="Datawrapper tool" class="illustration" />
            <p class="photo-credit">Photo credit: Datawrapper</p>
            
            <h3>The Solution</h3>
            <p>
                Datawrapper began as an idea scribbled on a piece of paper in 2011. A public prototype was released in
                early 2012, and Version 1.0 followed in December of the same year. Datawrapper has been open-source from
                the very first prototype, and even though paid services were launched in 2014, the core of Datawrapper
                remains open-source, and has always depended on other open-source software to help achieve the 
                performance and ease-of-use Datawrapper is known for. And Handsontable has been part of Datawrapper
                from the very beginning. Developers of professional open-source projects need to know that any components
                they use are reliable and fully supported by ongoing development too, and Datawrapper manager Mirko
                Lorenz admits that while searching for projects on Github, they focused on those that were rated highly
                by other users. And since then Datawrapper has used Handsontable for critical processes such as data
                upload and data refinement.
             </p>
             <p>
                Although all spreadsheet tools allow users to prepare data, and manipulate the visualisation of data,
                they don’t integrate seamlessly with many projects, meaning users need to constantly jump between two
                projects until they have finalised their data and visualisations. Datawrapper eliminates this by being
                fully embeddable in your project, and with the integration of Handsontable, actions like cleaning up of
                data, the transposing of data for specific visualisations, and even deciding how much data to show in
                visualisations are uncomplicated.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    Users can clean up their data, divide big numbers, decide how many digits are shown in the
                    visualizations.
                </h4>
            </blockquote>

           <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-illustration-2.png"
                alt="Datawrapper tool" class="illustration" />
            <p class="photo-credit">Photo credit: Datawrapper</p>

            <h3>Results and Plans for Future</h3>
            <p>
                The Datawrapper team acknowledge that they don’t incorporate all of the features of Handsontable, but
                this is purely so that they can continue to focus on their goal of helping users accomplish their tasks
                quickly, while ensuring that Datawrapper maintains ease-of-use inside a high-quality product. This is
                essential given the industries Datawrapper users work in, which are almost always fast-paced and
                deadline dependant.

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    By now, in our most current version of Datawrapper we have extended the usability even further.
                    For example, we enable users to use all the data from a spreadsheet
                </h4>
            </blockquote>

            <p>
                Handsontable has made it possible for the team to move the most frequently used actions relating to the
                preparation, editing and filtering of data directly into Datawrapper, making it possible to save users
                valuable time. And while the future of Datawrapper will always be linked to a user-friendly interface
                and superb visualisations, it doesn’t mean that the team won’t be introducing new features, with the
                latest version of Datawrapper now allowing users to utilise all the data from a spreadsheet/data source.
            </p>

            <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-illustration-3.png"
                 alt="Datawrapper tool" class="illustration" />
            <p class="photo-credit">Photo credit: Datawrapper</p>

            <!-- <a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a> -->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-avatar.png" alt="Mirko Lorenz" />
                <p class="name">Mirko Lorenz</p>
                <p class="position">CEO at <a href="//datawrapper.de/" target="_blank">Datawrapper</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Journalism++ Cologne</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Cologne, Germany
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        5+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="//datawrapper.de/" target="_blank">datawrapper.de</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>