<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / Datawrapper
        </div>
    </div>

    <div class="row banner datawrapper">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-logo.png" alt="Datawrapper" />
            <h1>How Datawrapper helps journalists to be first with their stories</h1>
            <h2>The power of data</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                We are the team behind <a href="//datawrapper.de/" target="_blank">Datawrapper</a> a tool to let users
                create high­quality charts and maps in minutes, not hours. Launched in 2012, Datawrapper is by now
                considered a must­have in newsrooms around the world – partially because of how well it works,
                partially because it is customizable and finally because it simplifies the data visualization quite
                a bit.
                Our core values behind boil down to this: We have successfully simplified something that was complex.
                Simplicity therefore is one of our key goals and that is not easy to maintain. The second important
                value for us is to be of service with this tool to thousands of users. This is where all the work you
                have to put in for good software makes sense: Helping so many people to visualize data around the world.
            </p>

            <h3>The Challenge</h3>
            <p>
                Datawrapper is a browser­based tool letting you create and publish charts and maps. When creating
                charts, Datawrapper ensures that key rules for correct charts are maintained. To get there users go
                through four steps : Upload data, choose chart, design the chart, publish. </p>

                <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-illustration-1.png"
                     alt="Datawrapper tool" class="illustration" />
            <p class="photo-credit">Photo credit: Datawrapper</p>
            <p>
                The project started in late 2011. A few months later in 2012 the public beta version was published and
                version 1.0 was ready in December that same year. Since then, usage, output and traffic have grown from
                almost zero to more than 50k users, 500k published charts and roughly 40­50 million "chart views"
                per month. Datawrapper has been popular since it's very start in newsrooms around the world. Handsontable
                was present since the beginning of Datawrapper. As Mirko Lorenz, the manager of Datawrapper admits, they
                were searching for projects on GitHub with a very high number of stars and that was how they found
                Handsontable. Since then it has been a crucial part of the data upload and refinement process.
            </p>

            <h3>The Solution</h3>
            <p>
                Whenever a visualization is created, people need to use a tool that will prepare the data which they
                are working on. Basically all available spreadsheet tools can do it for you however at some point you
                want to have such a tool embedded in your product.
                The way they use Handsontable provides very specific support for certain user actions such as the
                option to transpose the data for a certain visualization. It is possible to do that in well-known
                desktop / online solutions, but it would mean going back and forth. Providing such options within
                Datawrapper was definitely the best way to make it work.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    Users can clean up their data, divide big numbers, decide how many digits are shown in the
                    visualizations.
                </h4>
            </blockquote>

           <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-illustration-2.png"
                alt="Datawrapper tool" class="illustration" />
            <p class="photo-credit">Photo credit: Datawrapper</p>

            <h3>Results and Plans for Future</h3>
            <p>
                The Datawrapper Team admits they do not use all the functionalities Handsontable offers. It helps them
                to keep their users focused to accomplish their goals in the quickest possible way, maintaining high
                quality at the same time. For the very fast-paced industry that journalism definitely is, this is a must.
                Handsontable made it possible to move most often used actions connected with preparing, editing and
                filtering data straight to Datawrapper and thanks to this, we can save even more time for our users.

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    By now, in our most current version of Datawrapper we have extended the usability even further:
                    For example, we enable users to use all the data from a spreadsheet
                </h4>
            </blockquote>

            <p>
                The future of Datawrapper will be, as Mirko Lorenz says, connected with developing the outstanding
                quality of their visualisations together with a user-friendly interface.
            </p>

            <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-illustration-3.png"
                 alt="Datawrapper tool" class="illustration" />
            <p class="photo-credit">Photo credit: Datawrapper</p>

            <!-- <a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a> -->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/datawrapper/datawrapper-avatar.png" alt="Mirko Lorenz" />
                <p class="name">Mirko Lorenz</p>
                <p class="position">CEO at <a href="//datawrapper.de/" target="_blank">Datawrapper</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Journalism++ Cologne</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Cologne, Germany
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
<<<<<<< HEAD
                         4 employees
=======
                         5+ employees
>>>>>>> 79404742f850561c4637375c3e86ef5fe9b28957
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="//datawrapper.de/" target="_blank">datawrapper.de</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>