<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / Social Point
        </div>
    </div>

    <div class="row banner socialpoint">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/socialpoint/socialpoint-logo.png" alt="Social Point"
                 width="120" />
            <h1>Why Social Point hit the jackpot when choosing their spreadsheet?</h1>
            <h2>The game changer</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="//www.socialpoint.es/" target="_blank">Social Point</a> is a world reference in mobile, action,
                social and strategy gaming, with mega-hits like
                <a href="//www.dragoncitygame.com/" target="_blank">Dragon City</a>,
                <a href="//www.monsterlegendsgame.com/" target="_blank">Monster Legends</a>,
                the new <a href="//www.worldchef.com/" target="_blank">World Chef</a> and
                <a href="//www.dragonlandgame.com/" target="_blank">Dragon Land</a>, and an active fan base of more than
                50 million players. We know that the brilliant minds and the talent of our team players are key to our
                success. Our international team is formed by awesome people who are passionate about social games,
                creativity and raising the bar.
                We offer a fun, lively and dynamic workplace, headquartered in beautiful Barcelona, where creativity,
                agility and innovation are encouraged, prized and rewarded. Working with us will see you develop your
                skills, drive your career and delight millions of people around the world.
            </p>

            <h3>The Challenge</h3>
            <p>
                As Julio de la Calle from Social Point says, games require much configuration to work. This
                configuration allows the team to adjust each parameter of the game. With these values it is
                possible to optimize the user experience and maximize engagement. To manage all this information,
                they needed a quick and flexible tool, something they had found in Google Sheets, as it enabled
                them to manage large amounts of data in a simple and very visual way. Unfortunately, they began to
                suffer from certain limitations that prevented the implementation of more complex workflows to the tool.
                At this point the team decided to develop its own tool based on spreadsheets in order to add those
                needed features
            </p>

            <img src="<%= img_path %>template/ModCustomers/socialpoint/socialpoint-illustration-1.png"
                 alt="World Chef game" class="illustration" />
            <p class="photo-credit">Photo credit: Social Point</p>

            <h3>The Solution</h3>
            <p>
                One of the big problems they had was in the synchronization of data in the cloud with the data they had
                locally. It generated errors, latency and insecurity when synchronized properly.
                Therefore they had to integrate other services as well which wasn't allowed in the component they used
                at the time.
                The Social Point team found a solution, but still had latency issues and its development was quite
                cumbersome, therefore it had to be dismissed quickly.
                Luckily, they came across Handsontable, which was a perfect fit for their tool as it allowed them to
                have a very similar interface to Google Sheets with relatively little effort, so they could focus on
                all the features that bring value to their team and ignore those that were superfluous.
                Since then, Handsontable has been a key element of their project
            </p>

            <img src="<%= img_path %>template/ModCustomers/socialpoint/socialpoint-illustration-2.png"
                 alt="Social Point tool" class="illustration" />
            <p class="photo-credit">Photo credit: Social Point</p>

            <h3>Results and Plans for Future</h3>
            <p>
                Social Point stayed with a similar interface from the outset and this helped users to feel comfortable
                at any time, reducing the initial friction when implementing a new tool. From that moment, they kept
                adding new features such as: versioning of data, data validations, different types of formats. The
                adoption cycles were small because the base was always something similar to what they already knew.
                For Social Point, the "conditional formatting" has been one of the features that has contributed most.
                It has helped to specify the data types for columns and add automatic validations.
                The support of AngularJS has been another important feature. Since it became the framework that they
                use in their stack, they have saved many hours of our work on integration.
                Finally, another feature that seems very attractive to them and which they intend to adopt soon is
                support for formulas to perform complex calculations in some of our configurations.

                As Julio admits, the Social Point team wants to develop further and improve their application in
                order to satisfy the requests from their users, thus improve the productivity of their games.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    We recommend Handsontable without question and even more if the project requires handling large
                    amounts of data, in addition to having a great team of developers creating new features and solving
                    errors for the community.
                </h4>
            </blockquote>

            <img src="<%= img_path %>template/ModCustomers/socialpoint/socialpoint-illustration-3.png"
                 alt="Monster Legends game" class="illustration" />
            <p class="photo-credit">Photo credit: Social Point</p>

            <!--<a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a>-->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/socialpoint/socialpoint-avatar.png" alt="Julio De La Calle" />
                <p class="name">Julio de la Calle</p>
                <p class="position">JavaScript Architect at <a href="//www.socialpoint.es/" target="_blank">Social Point</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Social Point</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Barcelona, Spain
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        300+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="//www.socialpoint.es/" target="_blank">socialpoint.es</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>