<section class="customer-story">

    <div class="row">
        <div class="breadcrumbs">
            <a href="/customers">Successful customers</a> / Tracking First
        </div>
    </div>

    <div class="row banner trackingfirst">
        <div class="large-12 large-centered columns">
            <img src="<%= img_path %>template/ModCustomers/trackingfirst/trackingfirst-logo.png" alt="Tracking First" />
            <h1>How Tracking First enhances marketing campaigns</h1>
            <h2>When Analyst meets Marketer</h2>
        </div>
    </div>

    <div class="row content">
        <div class="large-8 large-centered columns">
            <h3>Introduction</h3>
            <p>
                <a href="http://trackingfirst.com/" target="_blank">Tracking First</a> is a data governance and data quality
                assurance company assisting marketing teams. They focus on eliminating gaps in team communication that
                lead to inaccurate campaign reporting. Marketers shouldn't need to know everything what analysts know
                - and vice versa.
                Their mission is to make sure that companies are getting full value from their analytics data, and to
                ensure that analysts spend their time contributing value to campaign optimization, rather than managing
                spreadsheets and doing data cleanup.
            </p>

            <img src="<%= img_path %>template/ModCustomers/trackingfirst/trackingfirst-illustration-1.png"
                 alt="Tracking First tool" class="illustration" />
            <p class="photo-credit">Photo credit: Tracking First</p>

            <h3>The Challenge</h3>
            <p>
                As Craig Scribner, CEO at Tracking First says, they engaged with Handsontable to enable their clients to
                construct their tracking code classifications in a spreadsheet format, within the system. They wanted
                them to have the full functionality of a spreadsheet software, but within the environment of the
                application.
            </p>

            <h3>The Solution</h3>
            <p>
                The alternative was to embed actual sheets into the application, which would have led to a less clean
                interface. Thanks to Handsontable, they have a simple, editable spreadsheet experience that is highly
                customizable for them, and for each client who logs into their system.
            </p>

            <p>
                This vastly improves the user experience for clients of Tracking First. Multiple codes can be generated
                easily, tailored to each company's classification standards, in a flexible, seamless interface.
            </p>

            <blockquote class="head-testimony">
                <h4>
                    <img src="<%= img_path %>template/ModCustomers/quotation-mark.png" alt="Quote" class="quotation-mark" />
                    We've found Handsontable to be a good partner: easy to work with and attentive to the specifications
                    of our product.
                </h4>
            </blockquote>

            <h3>Results and Plans for Future</h3>
            <p>
                Tracking First plans to design some improvements to the existing service - including a master dashboard
                for the main contact at each client company, allowing that person to see all the tracking codes and
                tables built by their teams within a specified timespan. Having the use of a tool like Handsontable
                will allow Tracking First to make these improvements.
                Lastly, as Craig Scribner says, they've found Handsontable to be a good partner: easy to work with and
                attentive to the specifications of their product.
            </p>

            <!--<a href="<%= static_path %>/resources/ModCustomers/akindi/Akind-Customer-Story.pdf" class="download">
                Download as PDF</a>-->

            <div class="row company-details">
                <img src="<%= img_path %>template/ModCustomers/trackingfirst/trackingfirst-avatar.png" alt="Craig Scribner" />
                <p class="name">Craig Scribner</p>
                <p class="position">CEO at <a href="http://trackingfirst.com/" target="_blank">Tracking First</a></p>
                <ul>
                    <li>
                        <svg>
                            <use xlink:href="#search_icon"></use>
                        </svg>
                        Tracking First</li>
                    <li>
                        <svg>
                            <use xlink:href="#map_marker"></use>
                        </svg>
                        Sandy, United States
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#community_icon"></use>
                        </svg>
                        5+ employees
                    </li>
                    <li>
                        <svg>
                            <use xlink:href="#link"></use>
                        </svg>
                        <a href="http://trackingfirst.com/" target="_blank">trackingfirst.com</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</section>